/* -------------------------------- 

File#: _1_card-v8
Title: Card v8
Descr: Container of information used as teaser for further content exploration
Usage: codyhouse.co/license

-------------------------------- */

.card-v8 {
  display: block;
  overflow: hidden;
  text-decoration: none;
  transition: .1s;
  box-shadow: 0px 10px 10px rgba(51, 48, 62, 0.101961);
  height: 140px;

  img {
    width: 100%;
    padding-top: 30px;
    opacity: 0.7;
    filter: grayscale(1);
    transition: all 0.1s ease;
  }

  &:hover img {
    opacity: 1;
    filter: grayscale(0);
  }

  &:hover {
    outline: 3px solid #4A5FA9;

    .card-v8__title {
      background-size: 100% 100%;
    }
  }
}

.card-v8__title {
  background-repeat: no-repeat;
  will-change: background-size;
  transition: background-size .3s var(--ease-in-out);
  text-decoration: none;
  background-image: linear-gradient(transparent 50%, alpha(var(--color-primary), 0.2) 50%);
  background-size: 0% 100%;
}