/* -------------------------------- 

File#: _1_tabs
Title: Tabs
Descr: A list of content sections (panels), accessible one at a time using control labels
Usage: codyhouse.co/license

-------------------------------- */

.tabs {}

.tabs__control {
  text-decoration: none;
  color: alpha(var(--color-primary), .6);
  font-weight: 600;
  font-size: 20px;
  padding: 18px 30px;
  border-radius: 8px;
  transition: all .3s;

  &:focus {
    outline: none;
  }

  &:hover {
    color: var(--color-light);
    background-color: var(--color-primary);
  }
}

.js {
  .tabs__control[aria-selected="true"] {
    color: var(--color-light);
    background-color: var(--color-primary);
  }
}