/* -------------------------------- 

File#: _2_feature-v8
Title: Feature v8
Descr: A section containing a list of features
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --feature-v8-gap: var(--space-xl); // gap between text and figure elements
}

.feature-v8 {
  position: relative;
  z-index: 1;
}

.feature-v8__main-content {
  padding-bottom: calc(var(--space-xl) + 220px);
}

.feature-v8__sub-content {
  margin-top: -70px;
}
 
.feature-v8__sub-content li {
  width: 17%;
  text-align: center;
}

.feature-v8__sub-content.flex.flex-wrap.gap-sm { 
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .feature-v8__sub-content.flex.flex-wrap.gap-sm{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
    place-items: center;
  }
}

@media (max-width: 720px) {
  .feature-v8__sub-content li {
    width: 100%;
    text-align: center;
  }
}