@use '../base' as *;
@use '_1_filter.scss' as *;
@use '_1_filter-navigation.scss' as *;
@use '_1_product-card.scss' as *;

/* -------------------------------- 

File#: _2_filterable-product-gallery
Title: Filterable Product Gallery
Descr: A filterable gallery of items controlled by a navigation list
Usage: codyhouse.co/license

-------------------------------- */