* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.cards {
  display: flex;
  padding: 32px;
  justify-content: center;
  margin: 0 auto;
}

main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 465px;
  height: 330px;
  padding: 1rem 1.5rem;
  border-radius: 24px;
  max-height: 468px;
  margin-left: 32px;
}

main.cards section.card.bg-one {
  background: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), var(--bg-o, 1));;
}

main.cards section.card.bg-two {
  background: var(--color-contrast-medium);;
}

main.cards section.card.bg-three {
  background: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), var(--bg-o, 1));;
}

main.cards section.card:first-child {
  margin-left: 0;
}

main.cards section.card .icon {
  width: 190px;
  height: 64px;
  margin-right: 182px;
  padding-top: 64px;
  padding-bottom: 40px;
}

main.cards section.card img {
  width: 100%;
}

main.cards section.card h3 {
  position: absolute;
  color: var(--color-white);
  font-size: 80px;
  padding-left: 350px;
  padding-top: 30px;
  opacity: 0.2;
}

main.cards section.card span {
  color: var(--color-white);
  text-align: left;
  font-size: 18px;
  padding: 20px;
}

main.cards section.card.contact {
  box-shadow: 0px 10px 10px rgba(51, 48, 62, 0.101961);
}
main.cards section.card.shop {
  box-shadow: 0px 10px 10px rgba(51, 48, 62, 0.101961);
}
main.cards section.card.about {
  box-shadow: 0px 10px 10px rgba(51, 48, 62, 0.101961);
}

@media screen and (max-width: 720px) {
  main.cards {
    flex-direction: column;
    padding: 50px;
    justify-content: center;
  }
  
  main.cards section.card .icon {
    width: 141px;
    height: 23px;
    margin-right: 100px;
    padding-top: 20px;
  }

  main.cards section.card {
      width: 430px;
      margin-left: 0;
      margin-bottom: 15px;
      align-items: center;
      text-align: center;
      width: 315px;
      height: 222px;
      padding: 1rem 1.5rem;
      border-radius: 24px;
      max-height: 468px;
  }

  main.cards section.card h3 {
    position: absolute;
    color: var(--color-white);
    font-size: 49px;
    padding-left: 250px;
    padding-top: 0px;
    opacity: 0.2;
  }

  main.cards section.card span {
    color: var(--color-white);
    text-align: left;
    font-size: 14px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  main.cards section.card:last-child {
      margin-bottom: 0;
  }

  main.cards section.card button {
      font-size: 70%;
  }

}