

#pre-header,
#pre-header-2{
  height: 126px;
}

#pre-header-2{
  display: none;
}

#header{
  background-color: transparent;
  height: 126px;
  z-index: 2;
  transition: all .4s;
  position: fixed; 

  &.secondary{
    .container{
      border-bottom: 2px solid alpha(var(--color-primary), .1)
    }
    #menu-btn{
      .line-1,
      .line-2,
      .line-3{
        background-color: var(--color-primary);
      }

      &.open{
        .line-1,
        .line-2,
        .line-3{
          background-color: var(--color-white);
        }
      }
    }
  }

  #menu{
    display: flex; 
    align-items: center;
    justify-content: space-between;
  }

  #menu-btn{
    .line-1,
    .line-2,
    .line-3{
      background-color: var(--color-light);
    }

    &.open{
      .line-1,
      .line-2,
      .line-3{
        background-color: var(--color-white);
      }
    }
  }

  .menu__logo{
    display: none;
    height: 126px;
    align-items: center;
    position: absolute;
    top: 0;

    img{
      height: 39px;
      max-width: 157px;
    }
  }

  .header__logo img{
    height: 70px;
    max-width: 160px;
    margin-top: 10px;
  }

  .header__show{
    display: none;
  }

  .cot-btn{
    margin-right: var(--space-sm);
  }

  .header__search{
    border: none;
    box-shadow: none !important;
    color: var(--color-primary);
    margin-right: var(--space-sm);
    transition: all .3s;

    &:hover{
      color: var(--color-accent);
    }
  }

  .header__sociais{ 
    a{
      padding: 5px;
      margin: 0 0 0 var(--space-xxxs);
      
      svg{
        height: 18px;
        rect{
          stroke: #fff;
          transition: all .3s;
        }

        path{
          stroke: #fff;
          transition: all .3s;
        }

        line{
          stroke: #fff;
          transition: all .3s;
        }

        circle{
          stroke: #fff;
          transition: all .3s;
        }

        &:hover{
          rect{
            stroke: var(--color-accent);
          }
  
          path{
            stroke: var(--color-accent);
          }
  
          line{
            stroke: var(--color-accent);
          }

          circle{
            stroke: var(--color-accent);
          }
        }
      }
    }
  }

  .header__navbar{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    
    li{
      margin-right: 44px;;
      a{
        color: var(--color-primary);
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        transition: all .3s;
        display: flex;
        align-items: center;

        i{
          font-size: 25px;
        }
        &:hover{          
          color: var(--color-accent);          
        }
      }

      &.current-menu-item{
        a{
          color: var(--color-accent);
        }
      }

    }

    .menu-item-has-children{
      position: relative;

      .sub-menu{
        position: absolute;
        box-shadow: 7px 7px 10px alpha(var(--color-primary), .3);
        background-color: #fff;
        width: fit-content;
        height: 0;
        min-width: 160%;
        top: 130%;
        border-radius: 4px;
        overflow: hidden;
        transition: all .4s;
  
        li:first-of-type{
          padding-top: var(--space-sm);
        }
  
        li:last-of-type{
          padding-bottom: var(--space-sm);
        }
  
        li{
          padding: 0 15px 0 20px;
          margin: 5px 0;
        }
      }
      
    }

  }

  // BG Primary
  &.scroll{
    background-color: var(--color-primary);
    transition: all .4s;

    #menu-btn{
      .line-1,
      .line-2,
      .line-3{
        background-color: var(--color-light);
      }

      &.open{
        .line-1,
        .line-2,
        .line-3{
          background-color: var(--color-light);
        }
      }
    }

    .header__search{
      color: #fff;
      transition: all .3s;

      &:hover{
        color: var(--color-accent);
      }
    }
    

    .header__navbar{
      display: flex;
      align-items: center;
      
      li{
        a{
          color: #fff;
          transition: all .3s;

          &.current-menu-item,
          &.current_page_parent{
            color: var(--color-accent);
          }

          &:hover{          
            color: var(--color-accent);          
          }
        }

        &.current-menu-item{
          a{
            color: var(--color-accent);
          }
        }
      }
    }

    .header__show{
      display: flex;
    }

    .sub-menu{
      li{
        a{
          color: var(--color-primary);
          transition: all .3s;

          &:hover{
            color: var(--color-accent);
          }
        }
      }
    }

  }
}

// menu

#menu-btn{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  padding: 5px;
  cursor: pointer;
  z-index: 1;

  .line-1{
    height: 2px;
    width: 20px;
    margin-bottom: 4px;
    transform-origin: top;
    transition: all .3s;
  }
  .line-2{
    height: 2px;
    width: 20px;
    margin-bottom: 4px;
    transition: all .3s;
  }

  .line-3{
    height: 2px;
    width: 20px;
    transform-origin: bottom;
    transition: all .3s;
  }

  &.open{
    .line-1{
      transform: rotateZ(45deg)translate(4px, 5px);
      width: 24.5px;
      background-color: #fff;
    }
    .line-2{
      opacity: 0;
      background-color: #fff;
    }
    .line-3{
      transform: rotateZ(-45deg)translate(3px, -5px);
      width: 24.5px;
      background-color: #fff;
    }
  }
}

// responsividade

@media (max-width: 1350px){
  #header{

    .cot-btn{width: 300px; margin-top: 60px; margin-bottom: 60px;}

    .menu__logo{display: flex;}

    .header__search{
        margin-right: 0; 
        margin-bottom: var(--space-lg);
        color: var(--color-light);
      }

    #menu{
      flex-direction: column;
      justify-content: start;
      position: fixed;
      top: 0px;
      height: 0;
      left: 0;
      background-color: var(--color-primary);
      width: 100vw;
      overflow: hidden;
      opacity: 0;
      transition: all .4s ease-in-out;

      .header__navbar li{
        margin-bottom: var(--space-md);
        a{
          font-size: 18px;
          font-weight: 600;
          color: var(--color-grey-dark);
          justify-content: center;
        }

        .sub-menu{
          position: unset;
          box-shadow: none;
          min-width: unset;    
          background-color: var(--color-primary);  
          li{
            padding-bottom: var(--space-md);
            margin-bottom: unset;
          }    
        }
      } 

      .header__sociais{
        justify-content: center;
        margin-top: var(--space-lg);
      }
    }
    .header__navbar{
      flex-direction: column;
      padding-top: var(--space-sm);
      margin-top: 126px;
    }
    .header__show{
      flex-direction: column;
      display: flex;
    }

    &.secondary{
      .header__show{
        flex-direction: row;
        display: flex;
      }

      .secondary-div{
        flex-direction: column;
      }
    }
  }

  #menu-btn{
    display: block;
  }
}

@media (max-width: 1024px){
  #pre-header-2{
    display: block;
    height: 100px;
  }
  #header{
    .menu__logo{height: 100px;}    
    height: 100px;
    .header__navbar{margin-top: 100px; color: var(--color-white)};
    #menu-btn{
      .line-1,
      .line-2,
      .line-3{
        background-color: var(--color-primary);
      }
    }
  }
}